{% extends "base_layout.html" %}
{% block content %}

{% if is_creating %}
    <h1>{{ gettext('Add book') }}</h1>
{% else %}
    <h1>{{ gettext('Update book') }}</h1>
{% endif %}

<div>
    <p>
        {% if form.has_error.data == True %}
            {{ gettext('Book has a problem with inventory number') }}
        {% endif %}
    </p>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset>
            <div>
                {{ form.inv_number.label }}
                {{ form.inv_number }}
                {% if form.inv_number.errors %}
                    <div>
                        {% for error in form.inv_number.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div>
                {{ form.signature.label }}
                {{ form.signature }}
                {% if form.signature.errors %}
                    <div>
                        {% for error in form.signature.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div>
                {{ form.title.label }}
                {{ form.title }}
                {% if form.title.errors %}
                    <div>
                        {% for error in form.title.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div>
                {{ form.author.label }}
                {{ form.author }}
                {% if form.author.errors %}
                    <div>
                        {% for error in form.author.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            {% if current_user.is_admin and not is_creating %}
                <div>
                    {{ form.has_error.label }}
                    {{ form.has_error }}
                    <br/>
                    {{ gettext('Please uncheck if the problem with inventory number is resolved') }}
                </div>
            {% endif %}
            <div>
                {{ form.submit }}
            </div>
        </fieldset>
    </form>
</div>
{% endblock content %}
