{% extends "base_layout.html" %}
{% block content %}

<h1>{{ gettext('Librarian username update') }}</h1>

<div>
    <strong>{{ gettext('For a librarian') }}</strong>
    <div>
        {{ gettext('First name') }}
        <strong>
            {{ librarian.first_name }}
        </strong>
    </div>

    <div>
        {{ gettext('Last name') }}
        <strong>
            {{ librarian.last_name }}
        </strong>
    </div>

    <div>
        {{ gettext('Current username') }}
        <strong>
            {{ librarian.username }}
        </strong>
    </div>

    <div>
        {{ gettext('Requested username') }}
        <strong>
            {{ librarian.change_username_value }}
        </strong>
    </div>
<div>

<div>
    <fieldset>
        <p>
            {{ gettext('Do you approve librarian\'s username change request') }}?
            <br/>
            {{ gettext('From') }} <strong>{{ librarian.username }}</strong> {{ gettext('to') }} <strong>{{ librarian.change_username_value }}</strong>.
        </p>
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <div>
                {{ form.approve }}
                {{ form.reject }}
            </div>
        </form>
    </fieldset>
</div>
{% endblock content %}
