{% extends "base_layout.html" %}
{% block content %}

<h1>{{ gettext('Librarian\'s account availability update') }}</h1>

<div>
    <strong>{{ gettext('For a librarian') }}</strong>
    <div>
        {{ gettext('First name') }}
        <strong>
            {{ librarian.first_name }}
        </strong>
    </div>

    <div>
        {{ gettext('Last name') }}
        <strong>
            {{ librarian.last_name }}
        </strong>
    </div>

    <div>
        {{ gettext('Username') }}
        <strong>
            {{ librarian.username }}
        </strong>
    </div>

    <div>
        {{ gettext('Current status') }}
        <strong>
            {% if librarian.is_operational %}
                {{ gettext('Enabled') }}
            {% else %}
                {{ gettext('Disabled') }}
            {% endif %}
        </strong>
    </div>
<div>

<div>
    <fieldset>
        <p>
            {{ gettext('Do you approve librarian\'s account availability change') }}?
            <br/>
            {% if librarian.is_operational %}
                {{ gettext('From') }} <strong>{{gettext('Enabled') }}</strong> {{ gettext('to') }} <strong>{{ gettext('Disabled') }}</strong>.
            {% else %}
                {{ gettext('From') }} <strong>{{ gettext('Disabled') }}</strong> {{ gettext('to') }} <strong>{{gettext('Enabled') }}</strong>.
            {% endif %}
        </p>
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <div>
                {{ form.approve }}
                
                {{ form.reject }}
            </div>
        </form>
    </fieldset>
</div>
{% endblock content %}
