{% extends "base_layout.html" %}
{% block content %}

{% if admin_is_editing %}
    <h1>{{ gettext('Account details') }}</h1>
{% else %}
    <h1>{{ gettext('My account') }}</h1>
{% endif %}

    <p>
        {{ gettext('First name') }}
        <strong>
            {{ account.first_name }}
        </strong>
    </p>

    <p>
        {{ gettext('Last name') }}
        <strong>
            {{ account.last_name }}
        </strong>
    </p>

    <p>
        {{ gettext('Phone') }}
        <strong>
            {{ account.phone_print }}
        </strong>
    </p>

    <p>
        {{ gettext('Address') }}
        <strong>
            {{ account.address }}
        </strong>
    </p>

    <p>
        {{ gettext('E-mail address') }}
        <strong>
            {{ account.email }}
        </strong>
    </p>

    <p>
        {{ gettext('Username') }}
        <strong>
            {{ account.username }}
        </strong>
    </p>

    <p>
        {{ gettext('Registration date') }}
        <strong>
            {{ account.date_registered_print }}
        </strong>
    </p>

    <p>
        {{ gettext('Account is administrator') }}
        <strong>
            {% if account.is_admin %}
                {{ gettext('Yes') }}
            {% else %}
                {{ gettext('No') }}
            {% endif %}
        </strong>
    </p>

    <p>
        {{ gettext('Account is active') }}
        <strong>
            {% if account.is_active %}
                {{ gettext('Yes') }}
            {% else %}
                {{ gettext('No') }}
            {% endif %}
        </strong>
    </p>

    <p>
        {% if account.change_password %}
            <strong>
                {{ gettext('Password change is requested') }}
            </strong>
        {% endif %}

        {% if account.change_admin %}
            <strong>
                {{ gettext('Removal from administrators requsted') }}
            </strong>
        {% endif %}
    </p>
    <hr/>

    {% if admin_is_editing %}
        <p>
            {% if account.change_password %}
                <a href="{{ url_for('librarians.librarians_password', librarian_id=account.id) }}">{{ gettext('Update password') }}</a>
            {% endif %}
            {% if account.is_active and not current_user.id == account.id %}
                {% if not account.is_admin %}
                    <a href="{{ url_for('librarians.librarians_administrate', librarian_id=account.id) }}">{{ gettext('Set as admin') }}</a>
                {% elif not account.change_admin %}
                    <a href="{{ url_for('librarians.librarians_administrate', librarian_id=account.id) }}">{{ gettext('Remove from admins') }}</a>
                {% endif %}
            {% endif %}
            {% if not current_user.id == account.id %}
                {% if account.is_active %}
                    <a href="{{ url_for('librarians.librarians_availability', librarian_id=account.id) }}">{{ gettext('Disable account') }}</a>
                {% else %}
                    <a href="{{ url_for('librarians.librarians_availability', librarian_id=account.id) }}">{{ gettext('Enable account') }}</a>
                {% endif %}
            {% elif current_user.id == account.id %}
                {{ gettext('This is your account. If you wish to edit it, please go to page') }} {{ gettext('My account') }}.
            {% endif %}
        </p>
    {% else %}
        <p>
            <a href="{{ url_for('librarians.account_change') }}">{{ gettext('Update account') }}</a>
            <a href="{{ url_for('librarians.account_password') }}">{{ gettext('Update password') }}</a>
            {% if account.change_admin %}
                <br/>
                <a href="{{ url_for('librarians.librarians_administrate', librarian_id=account.id) }}">{{ gettext('Handle remove from admins') }}</a>
            {% endif %}
        </p>
    {% endif %}




{% endblock content %}
