<!DOCTYPE html>
<html lang="sr" dir="ltr">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

    <title>{{ gettext('e-Library') }}</title>

</head>
<body>

    <header>
        <nav>
            <div>
                <a href="{{ url_for('main.home') }}">{{ gettext('Home') }}</a>
                <a href="{{ url_for('members.memberss') }}">{{ gettext('Members') }}</a>
                <a href="{{ url_for('main.books') }}">{{ gettext('Books') }}</a>
                <a href="{{ url_for('main.stats') }}">{{ gettext('Stats') }}</a>
                {% if current_user.is_admin %}
                    <a href="{{ url_for('librarians.librarianss') }}">{{ gettext('Librarians') }}</a>
                {% endif %}
                <a href="{{ url_for('librarians.account') }}">{{ gettext('Account') }}</a>
                <a href="{{ url_for('librarians.logout') }}">{{ gettext('Logout') }}</a>
            </div>
        </nav>
    </header>

    <div>
        <small>
            {% with messages = get_flashed_messages(with_categories=true) %}
                <br/>
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </small>
    </div>

    <main>
        <div>
            {% block content %}

            {% endblock %}
        </div>
    </main>

</body>
</html>
