{% extends "base_layout.html" %}
{% block content %}

<h1>{{ gettext('Member\'s membership extension') }}</h1>

<div>
    {{ gettext('For a member') }}
    <div>
        {{ gettext('Membership number') }}
        <strong>
            {{ member.id }}
        </strong>
    </div>

    <div>
        {{ gettext('Name') }}
        <strong>
            {{ member.first_name }} ({{ member.father_name }}) {{ member.last_name }}
        </strong>
    </div>

    <div>
        {{ gettext('Registration date') }}
        <strong>
            {{ member.date_registered_print }}
        </strong>
    </div>

    <div>
        {{ gettext('Expiration date') }}
        <strong>
            {{ member.date_expiration_print }}
            {% if member.is_membership_expired %}
                <span>{{ gettext('(Expired)') }}</span>
            {% endif %}
        </strong>
    </div>
<div>

<div>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset>
            <div>
                {{ form.price.label }}
                {{ form.price }}
            </div>
            <div>
                {{ form.note.label }}
                {{ form.note }}
                {% if form.note.errors %}
                    <div>
                        {% for error in form.note.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div>
                {{ form.date_performed.label }}
                {{ form.date_performed }}
                {% if form.date_performed.errors %}
                    <div>
                        {% for error in form.date_performed.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <br/>
            <div>
                {% if member.is_membership_expired %}
                    <b>{{ gettext('Membership expiration date will be set a year after the date of membership extension') }}</b>
                {% else %}
                    <b>{{ gettext('Membership expiration date will be set a year after the current membership expiration') }}</b>
                {% endif %}
            </div>
            <br/>
            <div>
                {{ form.submit }}
            </div>
            <div>
                <a href="{{ url_for('members.members_details', member_id=member.id) }}"> {{ gettext('Cancel') }}</a>
            </div>
        </fieldset>
    </form>
</div>
{% endblock content %}
