{% extends "base_layout.html" %}
{% block content %}

<h1>{{ gettext('Price update') }}</h1>

<div>
    {{ gettext('For a price') }}
    <div>
        {{ gettext('Value') }}
        <strong>
            {{ price.price_value_print }}
        </strong>
    </div>
    <div>
        {{ gettext('Currency') }}
        <strong>
            {{ price.currency }}
        </strong>
    </div>
    <div>
        {% if price.is_enabled %}
            <strong>{{ gettext('This price is currently') }} {{ gettext('Enabled')}}</strong>
        {% else %}
            <strong>{{ gettext('This price is currently') }} {{ gettext('Disabled')}}</strong>
        {% endif %}
    </div>
<div>

<div>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset>
            <div>
                {{ form.note.label }}
                {{ form.note }}
                {% if form.note.errors %}
                    <div>
                        {% for error in form.note.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <div>
                <br/>
                <b>
                    {{ gettext('This price will be') }}
                    {% if price.is_enabled %}
                        {{ gettext(' Disabled') }}
                    {% else %}
                        {{ gettext(' Enabled') }}
                    {% endif %}
                    {{ gettext('and the comment will be updated') }}
                </b>
                <br/>
                <br/>
                {{ gettext('Please approve or reject action') }}
            </div>
            <br/>
            <div>
                {{ form.submit }}
            </div>
            <div>
                <a href="{{ url_for('extensions.prices') }}"> {{ gettext('Cancel') }}</a>
            </div>
        </fieldset>
    </form>
</div>
{% endblock content %}
