{% extends "base_layout.html" %}
{% block content %}

<h1>{{ gettext('Librarians') }}</h1>

<a href="{{ url_for('librarians.librarians_create') }}">{{ gettext('Add librarian') }}</a>
<br/>

{% if include_disabled %}
    <a href="{{ url_for('librarians.librarianss', include_inactive='False') }}">{{ gettext('Do not include inactive librarians') }}</a>
{% else %}
    <a href="{{ url_for('librarians.librarianss', include_inactive='True') }}">{{ gettext('Include inactive librarians') }}</a>
{% endif %}

<p>
    <span>
        {{ gettext('First name') }}
        <a href="{{ url_for('librarians.librarianss', sort_by='first_name', direction='up', **extra_filter_args) }}"> &and; </a>
        <a href="{{ url_for('librarians.librarianss', sort_by='first_name', direction='down', **extra_filter_args) }}"> &or;</a>
    </span>
    <span>
        {{ gettext('Last name') }}
        <a href="{{ url_for('librarians.librarianss', sort_by='last_name', direction='up', **extra_filter_args) }}"> &uarr; </a>
        <a href="{{ url_for('librarians.librarianss', sort_by='last_name', direction='down', **extra_filter_args) }}"> &darr; </a>
    </span>
    <span>
        {{ gettext('Registration date') }}
        <a href="{{ url_for('librarians.librarianss', sort_by='date_registered', direction='up', **extra_filter_args) }}"> &uarr; </a>
        <a href="{{ url_for('librarians.librarianss', sort_by='date_registered', direction='down', **extra_filter_args) }}"> &darr; </a>
    </span>
</p>

{% for librarian in librarians_list %}
    <p>
        <span>{{ librarian.first_name }} {{ librarian.last_name }} </span>

        <span>{{ librarian.username }} </span>

        <span>{{ librarian.date_registered }} </span>

        {% if librarian.is_admin %}
            <span>{{ gettext('Is administrator') }}</span>
        {% else %}
            <span>{{ gettext('Is not administrator') }}</span>
        {% endif %}

        {% if not librarian.is_operational %}
            <span>{{ gettext('Is not active') }}</span>
        {% endif %}

        {% if librarian.change_password %}
            <span>{{ gettext('Requested password change') }}</span>
        {% endif %}

        {% if librarian.change_admin %}
            <span>{{ gettext('Requested removal from admins') }}</span>
        {% endif %}

        <span>
            <a href="{{ url_for('librarians.librarians_details', librarian_id=librarian.id) }}">{{ gettext('More details') }}</a>
        </span>

    </p>
{% endfor %}

{% endblock content %}
