{% extends "base_layout.html" %}
{% block content %}

<h1>{{ gettext('Library members') }}</h1>

<a href="{{ url_for('members.members_create') }}">{{ gettext('Add new library member') }}</a>

<div>
    Ovde ce biti filteri
</div>

<p>
    <span>
        {{ gettext('First name') }}
        <a href="{{ url_for('members.memberss', page=page, sort_by='first_name', direction='up') }}"> &and; </a>
        <a href="{{ url_for('members.memberss', page=page, sort_by='first_name', direction='down') }}"> &or;</a>
    </span>
    <span>
        {{ gettext('Last name') }}
        <a href="{{ url_for('members.memberss', page=page, sort_by='last_name', direction='up') }}"> &uarr; </a>
        <a href="{{ url_for('members.memberss', page=page, sort_by='last_name', direction='down') }}"> &darr; </a>
    </span>
    <span>
        {{ gettext('Total books rented') }}
        <a href="{{ url_for('members.memberss', page=page, sort_by='total_books_rented', direction='up') }}"> &and; </a>
        <a href="{{ url_for('members.memberss', page=page, sort_by='total_books_rented', direction='down') }}"> &or; </a>
    </span>
    <span>
        {{ gettext('Registration date') }}
        <a href="{{ url_for('members.memberss', page=page, sort_by='date_registered', direction='up') }}"> &uarr; </a>
        <a href="{{ url_for('members.memberss', page=page, sort_by='date_registered', direction='down') }}"> &darr; </a>
    </span>
    <span>
        {{ gettext('Membership expiration date') }}
        <a href="{{ url_for('members.memberss', page=page, sort_by='date_expiration', direction='up') }}"> &uarr; </a>
        <a href="{{ url_for('members.memberss', page=page, sort_by='date_expiration', direction='down') }}"> &darr; </a>
    </span>
</p>

{% for member in members_list.items %}
    <p>
        <span>{{ member.first_name }} {{ member.last_name }} </span>

        <span>{{ member.phone_1_formated }} </span>
        <span>{{ member.total_books_rented }}</span>
        <span>{{ member.date_registered.strftime('%d.%m.%Y.') }} </span>
        <span>{{ member.date_expiration.strftime('%d.%m.%Y.') }} </span>

        {% if member.is_membership_expired %}
            <span>{{ gettext('Membership expired') }}</span>
        {% elif member.is_membership_near_expired %}
            <span>{{ gettext('Membership near expiration') }}</span>
        {% endif %}

        <span>
            <a href="{{ url_for('members.members_details', member_id=member.id) }}">{{ gettext('More details') }}</a>
        </span>

    </p>
{% endfor %}

{% for page_num in members_list.iter_pages(left_edge=1, right_edge=1, left_current=2, right_current=2) %}
    {% if page_num %}
        {% if members_list.page == page_num %}
            <a style="color: red" href="{{ url_for('members.memberss', page=page_num, sort_by=sort_by_val, direction=direction_val) }}">{{ page_num }}</a>
        {% else %}
            <a href="{{ url_for('members.memberss', page=page_num, sort_by=sort_by_val, direction=direction_val) }}">{{ page_num }}</a>
        {% endif %}
    {% else %}
        ...
    {% endif %}
{% endfor %}

{% endblock content %}
