{% extends "base_layout.html" %}
{% block content %}
    <h1>{{ gettext('Library member details') }}</h1>

    {% if member.is_membership_expired %}
        <strong>
            {{ gettext('Membership expired') }}
        </strong>
    {% endif %}

    <p>
        {{ gettext('Member id') }}
        <strong>
            {{ member.id }}
        </strong>
    </p>

    <p>
        {{ gettext('First name') }}
        <strong>
            {{ member.first_name }}
        </strong>
    </p>

    <p>
        {{ gettext('Last name') }}
        <strong>
            {{ member.last_name }}
        </strong>
    </p>

    <p>
        {{ gettext('Father name') }}
        <strong>
            {{ member.father_name }}
        </strong>
    </p>

    <p>
        {{ gettext('Profession') }}
        <strong>
            {{ member.profession }}
        </strong>
    </p>

    <p>
        {{ gettext('E-mail') }}
        <strong>
            {{ member.email }}
        </strong>
    </p>

    <p>
        {{ gettext('Phone number') }}
        <strong>
            {{ member.phone_print }}
        </strong>
    </p>

    <p>
        {{ gettext('Address') }}
        <strong>
            {{ member.address }}
        </strong>
    </p>

    <p>
        {{ gettext('Registration date') }}
        <strong>
            {{ member.date_registered_print }}
        </strong>
    </p>

    <p>
        {{ gettext('Membership expiration date') }}
        <strong>
            {{ member.date_expiration_print }}
        </strong>
    </p>

    <p>
        {{ gettext('Total rented books number') }}
        <strong>
            {{ member.total_books_rented }}
        </strong>
    </p>

    <p>
        {{ gettext('Currently rented') }}
        <strong>
            <i>to be defined</i>
        </strong>
    </p>

    <p>
        {{ gettext('Membership extensions') }}
        <strong>
            <i>to be defined</i>
        </strong>
    </p>

    <p>
        {{ gettext('All book rentals') }}
        <strong>
            <i>to be defined</i>
        </strong>
    </p>

    <hr/>

    <p>
        <a href="{{ url_for('members.members_update', member_id=member.id) }}">{{ gettext('Update member data') }}</a>
        {% if member.is_membership_near_expired or member.is_membership_expired %}
            <a href="{{ url_for('members.members_extend', member_id=member.id) }}">{{ gettext('Extend membership') }}</a>
        {% endif %}
    </p>

<h3>Membership extensions</h3>

{% for extension in extensions %}
    <p>
        <span>{{ extension.date_performed_print }}</span>
        <span>{{ extension.date_extended_print }}</span>
        <span>{{ extension.price_details.price_value }}</span>
        <span>{{ extension.price_details.currency }}</span>
        <span>{{ extension.note }}</span>
        <span>{{ extension.librarian.username }}</span>
    </p>
{% endfor %}

{% endblock content %}
