{% extends "base_layout.html" %}
{% block content %}
    <h1>{{ gettext('Member details') }}</h1>

    {% if member.is_membership_expired %}
        <strong>
            {{ gettext('Membership not active') }}
        </strong>
    {% elif member.is_membership_near_expired %}
        <strong>
            {{ gettext('Membership near expiration') }}
        </strong>
    {% endif %}

    <p>
        {{ gettext('Member id') }}
        <strong>
            {{ member.id }}
        </strong>
    </p>

    <p>
        {{ gettext('First name') }}
        <strong>
            {{ member.first_name }}
        </strong>
    </p>

    <p>
        {{ gettext('Father name') }}
        <strong>
            {{ member.father_name }}
        </strong>
    </p>

    <p>
        {{ gettext('Last name') }}
        <strong>
            {{ member.last_name }}
        </strong>
    </p>

    <p>
        {{ gettext('Profession') }}
        <strong>
            {{ member.profession }}
        </strong>
    </p>

    <p>
        {{ gettext('Phone') }}
        <strong>
            {{ member.phone_print }}
        </strong>
    </p>

    <p>
        {{ gettext('Address') }}
        <strong>
            {{ member.address }}
        </strong>
    </p>

    <p>
        {{ gettext('E-mail address') }}
        <strong>
            {{ member.email }}
        </strong>
    </p>

    <p>
        {{ gettext('Registration date') }}
        <strong>
            {{ member.date_registered_print }}
        </strong>
    </p>

    <p>
        {{ gettext('Membership expiration date') }}
        <strong>
            {{ member.date_expiration_print }}
        </strong>
    </p>

    <p>
        {{ gettext('Total number of rented books') }}
        <strong>
            {{ member.total_books_rented }}
        </strong>
    </p>

    <p>
        {{ gettext('Number of currently rented books') }}
        <strong>
            {{ member.number_of_rented_books }}
        </strong>
    </p>

    <hr/>

    <p>
        <a href="{{ url_for('members.members_update', member_id=member.id) }}">{{ gettext('Update member data') }}</a>
        {% if member.is_membership_near_expired or member.is_membership_expired %}
            <a href="{{ url_for('extensions.extensions_add', member_id=member.id) }}">{{ gettext('Extend membership') }}</a>
        {% endif %}
        <br/>
        {% if member.is_membership_expired %}
            <strong>{{ gettext('Members without active membership can not rent a book') }}</strong>
        {% elif member.number_of_rented_books >= max_books %}
            <strong>{{ gettext('Members can not rent more than') }} {{ max_books }} {{ gettext('books at a time') }}</strong>
        {% else %}
            <a href="{{ url_for('books.book_rent', member_id=member.id) }}">{{ gettext('Rent book') }}</a>
        {% endif %}
    </p>

{% if member.number_of_rented_books > 0 %}
    <h3>{{ gettext('Currently rented') }}</h3>
    {% for rent in book_rentals %}
        <p>
            <span>{{ rent.book.title }}, {{ rent.book.author }} ({{ rent.book.inv_number }})</span>
            <span>{{ rent.date_performed_print }}</span>
            <span>{{ rent.date_deadline_print }}</span>
            {% if rent.date_deadline_passed %}
                <span>{{ gettext('Deadline passed') }}</span>
            {% endif %}

            <span>
                <a href="{{ url_for('books.book_rents_details', rent_id=rent.id) }}">{{ gettext('More details') }}</a>
            </span>
        </p>
    {% endfor %}
{% endif %}

{% if member.total_books_rented > 0 %}
    <a href="{{ url_for('books.book_rents', member_id=member.id) }}">{{ gettext('All rented books') }}</a>
{% endif %}

{% if extensions.count() > 0 %}
    <h3>Membership extensions</h3>
{% endif %}

{% for extension in extensions %}
    <p>
        <span>{{ extension.date_performed_print }}</span>
        <span>{{ extension.date_extended_print }}</span>
        <span>{{ extension.price_details.price_value }}</span>
        <span>{{ extension.price_details.currency }}</span>
        <span>{{ extension.note }}</span>
    </p>
{% endfor %}

{% endblock content %}
