{% extends "base_layout.html" %}
{% block content %}

<h1>{{ gettext('Update password') }}</h1>

<div>
    <strong>{{ gettext('For a librarian') }}</strong>
    <div>
        {{ gettext('First name') }}
        <strong>
            {{ librarian.details.first_name }}
        </strong>
    </div>

    <div>
        {{ gettext('Last name') }}
        <strong>
            {{ librarian.details.last_name }}
        </strong>
    </div>

    <div>
        {{ gettext('Username') }}
        <strong>
            {{ librarian.username }}
        </strong>
    </div>
<div>

<div>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset>

            <div>
                {{ form.new_password.label }}
                {{ form.new_password }}
                {% if form.new_password.errors %}
                    <div>
                        {% for error in form.new_password.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <div>
                {{ form.confirm_password.label }}
                {{ form.confirm_password }}
                {% if form.confirm_password.errors %}
                    <div>
                        {% for error in form.confirm_password.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

        </fieldset>
        <div>
            {{ form.submit }}
        </div>
    </form>
</div>
{% endblock content %}
