{% extends "base_layout.html" %}
{% block content %}

<h1>{{ title }}</h1>

<div>
    <strong>{{ gettext('For a librarian') }}</strong>
    <div>
        {{ gettext('First name') }}
        <strong>
            {{ librarian.first_name }}
        </strong>
    </div>

    <div>
        {{ gettext('Last name') }}
        <strong>
            {{ librarian.last_name }}
        </strong>
    </div>

    <div>
        {{ gettext('Current username') }}
        <strong>
            {{ librarian.username }}
        </strong>
    </div>

    <div>
        {{ gettext('Registration date') }}
        <strong>
            {{ librarian.date_registered_print }}
        </strong>
    </div>
<div>

<div>
    <fieldset>
        <p>
            {{ text }}
        </p>
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <div>
                {{ form.approve }}
                {{ form.reject }}
            </div>
        </form>
    </fieldset>
</div>
{% endblock content %}
