{% extends "login_layout.html" %}
{% block content %}

<h1>{{ gettext('Update account') }}</h1>

<div>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset>
            <div>
                {{ form.username.label }}
                {{ form.username }}
                {% if form.username.errors %}
                    <div>
                        {% for error in form.username.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <div>
                {{ form.first_name.label }}
                {{ form.first_name }}
                {% if form.first_name.errors %}
                    <div>
                        {% for error in form.first_name.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <div>
                {{ form.last_name.label }}
                {{ form.last_name }}
                {% if form.last_name.errors %}
                    <div>
                        {% for error in form.last_name.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

        </fieldset>
        <div>
            {{ form.submit }}
        </div>
    </form>
</div>

<br/>

<div>
    <small>
        {{ gettext('Go back to the') }}
        <a href="{{ url_for('librarians.login') }}">{{ gettext('login page') }}</a>.
    </small>
</div>

{% endblock content %}
